<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="profile-body">

    <% include ../static/partials/navbar.ejs %>

    <main class="container" style="text-align: center;">

      <% include ../static/partials/messages.ejs %>
      
      <div class="container calc-table">
        <div class="row">
         <div class="col-lg-2">
         </div>
         <div class="col-lg-8">
                <h2 class="calorie-title">TOTAL DAILY CALORIES</h2>
                <div class="cal-results row">
                 <div class="weight-gain column">
                    <p class="cal-description">Weight Gain:</p>
                    <p class="cal-description">Maintenance:</p>
                    <p class="cal-description">Weight Loss:</p>
                 </div>
                 <div class="maintenance column">
                    <p class="calorie-numbers">Cal #</p>
                    <p class="calorie-numbers">Cal #</p>
                    <p class="calorie-numbers">Cal #</p>
                 </div>
                 <div class="maintenance column">
                    <p class="cal-total-label">Calories/Day</p>
                    <p class="cal-total-label">Calories/Day</p>
                    <p class="cal-total-label">Calories/Day</p>
                 </div>
                </div>
         </div>
         <div class="col-lg-2">
         </div>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>