.jumbotron {
    height: 50vh;
    width: 100vw;
    background: url("../home-page-jumbotron.jpg") center;
    background-size: cover;
}

.sign-up-body { 
    padding-top: 50px; 
}

.sign-in-body {
    padding-top: 50px;
}

.display-3, .lead {
    color: white;
}

.display-3 {
    position: relative;
    bottom: 10px;
}

.lead {
    margin: 50px;
    padding-top: 10px;
}

.icon {
    font-size: 50px;
    color: green;
}

.btn {
    background-color: green;
    border: green;
}

.btn-primary:hover {
    background-color: green;
}

.btn-lg {
    margin-right: 15px;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
}

.footer-text {
    margin: 40px;
}