.jumbotron {
    height: 50vh;
    width: 100vw;
    background: url("../home-page-jumbotron.jpg") center;
    background-size: cover;
}

.sign-up-body { 
    padding-top: 50px; 
}

.sign-in-body {
    padding-top: 50px;
}

.profile-body {
    padding-top: 50px;
}

.display-3, .lead {
    color: white;
}

.display-3 {
    position: relative;
    bottom: 10px;
}

.lead {
    margin: 50px;
    padding-top: 10px;
}

.icon {
    font-size: 50px;
    color: green;
}

.btn {
    background-color: green;
    border: green;
}

.btn-primary:hover {
    background-color: green;
}

.btn-lg {
    margin-right: 15px;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
}

.profile-greeting {
    padding-top: 20px;
    padding-bottom: 30px;
}

.calc-title {
    border-style: hidden;
    background-color: green;
    color: white;
    margin-bottom: 0px;
}

.calorie-title {
    border-style: hidden;
    background-color: green;
    color: white;
    margin-bottom: 0px;
    margin-top: 50px;
}

.calc-input-group {
    text-align: left;
    padding-left: 140px;
}

.age {
    padding-top: 20px;
}

.calc-body {
    border-style: solid;
    border-width: 1px;
}

.calc-input {
    border-radius: 5px;
    width: 60px;
}

.left-label {
    padding-right: 15px;
}

.calc-submit {
    margin-bottom: 10px;
}

.cal-results {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-left: 200px;
    margin-left: 0px;
}

.calorie-numbers {
    text-align: center;
    font-weight: bold;

}

.cal-results {
    padding-top: 30px;
}

.cal-description {
    padding-right: 50px;
}

.cal-total-label {
    padding-left: 20px;
}

.nutrition-profile-btn {
    color: white;
    margin-top: 50px;
}

.footer-text {
    margin: 40px;
}