<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="profile-body">

    <% include ../static/partials/navbar.ejs %>

    <main class="container" style="text-align: center;">

      <% include ../static/partials/messages.ejs %>

      <h2 class="profile-greeting">Hello, <%= user.username %>!</h2>
      
      <div class="container calc-table">
        <div class="row">
         <div class="col-lg-2">
         </div>
         <div class="col-lg-8">
          <h2 class="calc-title">DAILY CALORIE CALCULATOR</h2>
          <form class="calc-body" action="">
              <div class="form-group calc-input-group">
                <label for="age" class="left-label age">Age</label>
                <input class="calc-input" type="number" size="3" id="age">
                <label class="inline">Years</label>
              </div>
              <div class="form-group calc-input-group">
                <label for="gender" class="left-label">Gender</label>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="femradio">Female
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="maleradio">Male
                    </label>
                </div>
              </div>
              <div class="form-group calc-input-group">
                <label for="weight" class="left-label">Current Weight</label>
                <input class="calc-input" type="number" size="3" id="current-weight">
                <label class="inline">Pounds</label>
              </div>
              <div class="form-group calc-input-group">
                <label for="height" class="left-label">Height</label>
                <input class="calc-input" type="number" size="2" id="height-inches">
                <label class="inline">Inches</label>
              </div>
              <div class="form-group calc-input-group">
                <label for="activity" class="left-label">Activity</label>
                <select class="activity" id="activity">
                    <option value="1.2">Sedentary</option>
                    <option value="1.375">Light Activity: 1-2 Days of Exercises/Week</option>
                    <option selected="selected" value="1.55">Moderate Activity: 3 Days of Exercises/Week</option>
                    <option value="1.725">Very Active: 4-5 Days of Exercises/Week</option>
                    <option value="1.9">Extremely Active: 6-7 Days of Exercises/Week</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary calc-submit">Submit</button>
          </form>
          <h2 class="calorie-title">TOTAL DAILY CALORIES</h2>
          <div class="cal-results row">
           <div class="weight-gain column">
              <p class="cal-description">Weight Gain:</p>
              <p class="cal-description">Maintenance:</p>
              <p class="cal-description">Weight Loss:</p>
           </div>
           <div class="maintenance column">
              <p class="calorie-numbers">Cal #</p>
              <p class="calorie-numbers">Cal #</p>
              <p class="calorie-numbers">Cal #</p>
           </div>
           <div class="maintenance column">
              <p class="cal-total-label">Calories/Day</p>
              <p class="cal-total-label">Calories/Day</p>
              <p class="cal-total-label">Calories/Day</p>
           </div>
          </div>
         </div>
         <div class="col-lg-2">
         </div>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>